# Configuration Files
src/main/resources/application.properties.values
rc/main/resources/application.properties.example
src/frontend/build/.vscode/
.idea
.mvn
mvnw
mvnw.cmd

# Files and file types
target/
*.class
..gitignore.swp
docker-compose.yaml

.vscode

